html[data-theme="light"] .std-term {
    color: #000000;
    text-decoration: none !important;
    font-weight: bold;
}
html[data-theme="dark"] .std-term {
    color: #FAFAFA;
    text-decoration: none !important;
    font-weight: bold;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table caption span.caption-number {
    font-weight: bold;
    font-style: normal;
}
